@charset "UTF-8";
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 350ms;
}
.is-hidden {
  display: none;
}
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(
    90deg,
    #000001 0%,
    #fbfbfb 35%,
    #484848 100%
  );

  color: #212121;
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    90deg,
    #000001 0%,
    #fbfbfb 35%,
    #484848 100%
  );
  z-index: 1;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form__input {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.search-form__input:focus {
  outline: none;
}

.gallery {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 70px;
}

.gallery__link {
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;

  transition: transform var(--animation-duration) var(--timing-function),
    border-color var(--animation-duration) var(--timing-function);
}

.gallery__link:hover {
  transform: scale(1.03);
  border-color: rgb(255, 0, 0);
  cursor: zoom-in;
}
.gallery__link:hover .info-item {
  color: rgb(255, 0, 0);
}

.gallery__image {
  display: block;

  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;

  color: whitesmoke;
  transition: color 1000ms var(--timing-function);
}

.search-btn {
  font-size: 15px;
  border-color: transparent;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.search-btn:hover {
  transition: background-color var(--animation-duration) var(--timing-function);
  background-color: rgb(141, 136, 136);
}
.load-more-btn {
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  font-size: 16px;

  border-radius: 10px;
  border: transparent;
  cursor: pointer;
}
.load-more-btn:hover {
  transition: background-color var(--animation-duration) var(--timing-function);
  background-color: rgb(141, 136, 136);
}
